<div
  class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-xl border border-default"
>
  <table class="w-full text-sm text-left rtl:text-right text-body">
    <thead
      class="text-sm text-body bg-neutral-secondary-soft border-b rounded-xl border-default"
    >
      <tr>
        <% for (const tableHead of tableHeader) { %>
          <th scope="col" class="px-6 py-3 font-medium"><%= tableHead %></th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% tableBody.forEach((row, index) => { %>
        <tr class="bg-neutral-primary<%= tableBody.length - 1 === index ? "" : " border-b border-default" %>">
          <% row.forEach((data, index) => { %>
            <% if (index === 0) { %>
              <th
                scope="row"
                class="px-6 py-4 font-medium text-heading whitespace-nowrap"
              >
                <%= data %>
              </th>
            <% } else if (index === row.length - 1) { %>
              <td class="px-6 py-4">
                <%- data %>
              </td>
            <% } else { %>
              <td class="px-6 py-4">
                <%= data %>
              </td>
            <% } %>
          <% }) %>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
